/* `agenda-item border border-foreground shadow p-4 mb-4 rounded-lg w-full min-w-xs sm:min-w-md md:max-w-xl ${isPastEvent ? "opacity-50" : ""} ${isNextEvent ? "bg-foreground text-background" : ""} ${majorEventClass}` */
.agenda-item{
    border: 1px solid var(--foreground);
    box-shadow: var(--shadow);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.agenda-item.past {
    opacity: 0.4;
}

.agenda-item{
    opacity: 0.6;
}
.agenda-item.next {
    opacity: 1;
    background-color: var(--foreground);
    color: var(--background);
}

.agenda-item.major {
    background-color: var(--color-amber-300);
    color: var(--background);
    border: none;
}

.agenda-item.major > h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.dark .agenda-item.major > p {
    color: var(--background);
}

.dark .major-separator {
    background-color: var(--background);

}

.light .agenda-item.major {
    background-color: var(--color-amber-300);
    color: var(--foreground);
}
.light .agenda-item.major > p {
    color: var(--foreground);
}